<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !user.provider %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label "first name" %>
    <%= f.text_field :fname %>
  </div>

  <div class="field">
    <%= f.label "last name" %>
    <%= f.text_field :lname %>
  </div>

  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
  </div>
  <% end %>

  <div class="field">
      <%= f.label "Lang" %>
      <%= f.select :lang, ["en", "fr"] %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
