<h1>New User</h1>

<% content_for :menu do %>
    <%= link_to "Movies List", root_path %>
    <%= link_to 'Users List', users_path %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% end %>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
